[run]
source = src/peepomap
omit = 
    */tests/*
    */__pycache__/*
    */site-packages/*
    */__main__.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:
    if TYPE_CHECKING:
    @abstractmethod
